<mat-nav-list>
    <div class="logo py-4">
      <img src="https://t4.ftcdn.net/jpg/04/23/03/63/240_F_423036393_X59B44rYi88DNvM9FCuWf9eSfE2SnrJA.jpg" alt="Company Logo" class="img"/>
      <h2 class="text">Obese Category</h2>
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matSubheader class="mt">Lean</h2> -->
    <br>
  
    <!-- <a mat-list-item routerLinkActive="list-item-active"  >
      <mat-icon>home</mat-icon> Home
    </a> -->
    <a mat-list-item routerLinkActive="list-item-active" class="col" (click)="onldiet()" >
      <mat-icon>event_note</mat-icon> Diet
    </a>
    <a mat-list-item routerLinkActive="list-item-active" class="col" (click)="onlwo()">
      <mat-icon>check_circle_outline</mat-icon> Work Out
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" class="col" (click)="onrouinq()" >
      <mat-icon>shopping_basket</mat-icon> List of Delivery
    </a> -->
    <mat-divider></mat-divider>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" class="col" (click)="onlh()" >
        <mat-icon>history</mat-icon> History
      </a>
    <a mat-list-item routerLinkActive="list-item-active" class="col" (click)="onlp()" >
        <mat-icon>account_circle</mat-icon> Profile
      </a>
  </mat-nav-list>


