<div class="divclas" id="portal">
   
    <div class="div">
  
    <br>
    <div class="cardn">
      <div class="imgBx">
        <img src="https://media.istockphoto.com/photos/shot-of-a-group-of-friends-hanging-out-before-working-out-together-picture-id1366052585?b=1&k=20&m=1366052585&s=170667a&w=0&h=tSmN3kW5P3F4jfpdVGU_6odlDHpVTyB-3nKkP8yuKLY=" alt="Avatar" >
      </div>
      <div class="content">
        <div class="details">
          <h3>Login</h3>
          <br>
          <div class="data">
            <h4>A customer portal is a website designed to give current customers access to services and information they need</h4>
          </div>
          <br>
          <div class="actionBtn">
            <button (click)="onlogin()" >Login</button>
          </div>
        </div>
      </div>
    </div>
  
  
    <br>
    
    <div class="cardn">
      <div class="imgBx">
        <img src="../../assets/vendor_landing.jpg" alt="Avatar" >
      </div>
      <div class="content">
        <div class="details">
          <h3>Sign Up</h3>
          <!-- <h4>Material Management and Finance </h4> -->
          <br>
          <div class="data">
            <h4>A vendor portal is a web platform owned by a buyer that aggregates functionality for vendor management and bidding</h4>
          </div>
          <br>
          <div class="actionBtn">
            <button (click)="onclick()">Sign up</button>
          </div>
        </div>
      </div>
    </div>
  
  
    
    <br>
  
    
    <!-- <br> -->
  
    
  </div>
