.whole {
    height: 180%;
    width: 100%;
    background: yellow;
    background-color: #fee2f8;
background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

.castellee {
    margin-top: 0px;
    text-align: center;
    color: #800000;
    letter-spacing: 0.15em;
    font-size: 28px;
    text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
        2px -1px 0 #000000, 3px 0 0 #000000;
  }

  .img {
    height: 380px;
    width: 700px;
    margin-left: 280px;
    margin-top: 100px;
    justify-content: center;
  }

  .imgg {
    height: 300px;
    width: 620px;
    margin-left: 310px;
    margin-top: 20px;
    justify-content: center;
  }

  .card {
    
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
    width: 1200px;
    margin-left: 30px;
    margin-top: 60px;
}

    .card-head {
        font-size: 70px;
        align-items: center;
        text-align: center;
        /* background: #800000; */
        background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
        color: white;
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        font-size: 18px;
        font-weight: 400;
        /* font-family: "Times New Roman", Times, serif; */
        background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
background-color: #f3e6e8;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
        /* line-height: em; */
        line-height: 28px;
        padding: 1rem 1.5rem; 
        align-content: center;
        text-align: center;
    }
