<!-- <section>
    <div class="imgBx">
        <img src="https://t4.ftcdn.net/jpg/02/42/42/19/240_F_242421969_xSt8bMgNQ9XBl5VqY6NA7EnREb4UibeV.jpg">
         <img src="../../assets/decline.png" alt="Avatar" width="560px" height="90px"> -->
    <!-- </div> -->
    
    <!-- <form > -->
    <!-- <form class="contentBx">
        <div class="formBx">
            <h1>Customer Portal Login</h1>
            <img src="../../assets/decline.png" alt="Avatar" width="200px" height="40px">
            <div class="inputBx">
                <span>User ID</span> 
                <input type="text" name="" formControlName="username" >
            </div>
            <div class="inputBx">
                <span>Password</span>
                <input type="password" name="" formControlName="password">
            </div>
            <div class="inputBx">
                <input type="submit" value="Login" name="">
            </div>
        </div> -->
    <!-- </div> -->
    <!-- </form>
    <div class="divv">
        <button height="20px" class="btnn" (click)="onclicka()"><i class="fa fa-home bcolor"></i></button>
    </div>
</section> -->
<!-- email 
<br>
<input type="text" [(ngModel)]="emaill" class="input form-control">
<br>
password
<br>
<input type="password" [(ngModel)]="passwordl" class="input form-control">
<br>
<input type="submit" name="" id="" (click)="lin()"> -->
<section> 
    <div class="imgBx">
        <img src="https://t4.ftcdn.net/jpg/02/42/42/19/240_F_242421969_xSt8bMgNQ9XBl5VqY6NA7EnREb4UibeV.jpg">
        
    </div>
<form class="contentBx">
    <div class="formBx">
        <h1>Login</h1>
        <!-- <img src="../../assets/decline.png" alt="Avatar" width="200px" height="40px"> -->
        <div class="inputBx">
            <span>Email ID</span>
            <input type="text" name="name" [(ngModel)]="emaill" class="input form-control"> 
        </div>
        <div class="inputBx">
            <span>Password</span>
            <input type="password" name="pass"[(ngModel)]="passwordl" class="input form-control">
        </div>
        <div class="inputBx">
           <input type="submit" value="Login" name=""(click)="lin()">
        </div>
    </div>

</form>
<div class="divv">
     <button height="20px" class="btnn"(click)="onclicka()"><i class="fa fa-home bcolor"></i></button>
</div>


</section>