.whole {
    height: 91%;
    width: 100%;
    background: yellow;
    background-color: #fee2f8;
background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

.castellee {
    margin-top: 0px;
    text-align: center;
    color: #800000;
    letter-spacing: 0.15em;
    font-size: 28px;
    text-shadow: -1px 0 0 #000000, 1px 1px 0 #000000,
        2px -1px 0 #000000, 3px 0 0 #000000;
  }

  .img {
    height: 380px;
    width: 700px;
    margin-left: 280px;
    margin-top: 100px;
    justify-content: center;
  }