<div class="whole">
    <br>
    <h5 class="castellee">YOUR HISTORY</h5> 
    <br>
    
</div>

<table class="tabcss">
    <thead>
      <tr class="r">
        
        <!-- <th scope="col" class="tabhead" (click)="sort('MAT_DOC')">Material Doc Number&nbsp; <i class="fa fa-sort bcolor"></i></th> -->
        
        <th scope="col" class="tabhead">Height</th>
        <th scope="col" class="tabhead">Weight</th>
        <th scope="col" class="tabhead">BMI</th>
        
      </tr>
    </thead>
    <tbody>
     
  
       <tr>
        <td class="tdcss">itDOC_DATE</td>
        <td class="tdcss">SERNAME</td>
        <td class="tdcss">temRY_TIMEhours</td>
        
      </tr>
    </tbody>
  </table>
