.ovdiv {
    height: 350px;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.4);
    
}

.imag {
    width: 100%;
    height: 350px;
    filter: brightness(60%);
    
}

.imgg {
    margin-left: 60px;
}

.img {
    width: 200px;
    height: 200px;
    /* margin-top: 58px; */
    margin-left: 130px;
    top: -150px;
    /* align-content: center; */
}
.imgBx {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.im {
    height: 30px;
    width: 30px;
    /* margin-left: 21px; */
}

h3 {
    margin-left: 19px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
}

.col {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}
.card {
    
    display: flex;
    
    background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    /* flex-direction: row; */
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    border-radius: 23px;
    
    width: 500px;
    height: 550px;
    top: -270px;
    
    margin-left: 28%;
    

}

.mt-3 {
    align-items: center;
}

.icard {
    
    display: flex;
    
    // background: white;
    background: #ffffe6;
    flex-direction: column;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    border-radius: 23px;
    
    width: 467px;
    height: 520px;
    top: -220px;
    
    margin-left: 3%;
    margin-top: 3%;
    justify-content: center;
    

}

.content {
    /*  background: linear-gradient(45deg, #fbda61, #ff5acd); */
    background: white;
    height: 330px;
    width: 340px;
    border-radius: 20px;
    margin-top: 18px;
    margin-left: 30px;
    
    text-align: center;
    
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #800000;
}

h4 {
    
    font-weight: 550;
    font-size: 17px;
    line-height: 20px;
}